body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
}

.secondary-container {
  background-color: whitesmoke;
  margin: 0px;
  border-top: 2px solid #dddddd;
  height: 91.25%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-container {
  margin: 5% auto;
  width: 80%;
  height: 80vh;
  border: 2px solid #dddddd;
}

.allPrevNotes {
  width: 20%;
  float: left;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.textArea-holder {
  float: left;
  width: 80%;
  height: 100%;
}

textarea {
  border: 0px;
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
}

textarea:focus {
  border: 1px solid #c9c9c9;
}

.searchLabel > input:focus {
  outline: none !important;
  border-bottom: 1px solid #c9c9c9;
}

.searchLabel > input {
  float: left;
  height: 20px;
  border: 0px;
  background-color: transparent;
  border-bottom: 1px solid black;
  width: 200px;
}

.searchLabel > img {
  margin-top: 0;
  margin-left: 10px;
  width: 20px;
  float: left;
}

.tools {
  width: 100%;
  height: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  position: relative;
}

.logInBtn {
  position: absolute;
  right: 10px;
  top: 15px;
}

.searchBar {
  position: absolute;
  left: 10px;
  top: 15px;
}

.otherBtns {
  width: 100%;
  position: absolute;
  left: 250px;
  top: 15px;
}

button {
  border: 0px;
  background-color: transparent;
  margin-left: 10px;
  transition-duration: 0.5s;
}

button > img{
  width: 20px;
}

button:hover{
  border-bottom: 1px solid #c9c9c9
}

button > label {
  margin-top: 0px;
  padding-left: 5px;
  vertical-align: 30%;

}

button:focus{
  outline: none !important;
}

.sideNote {
  width: 100%;
  height: 80px;
  background-color: #dfdfdf;
  border-bottom: 1px solid #b8b8b8;
  margin: 0px;
  min-height: 80px;
}

.display{
  padding: 10px;
}

.noteTitle {
  font-size: 20px;
  font-weight: bold;
}

.restOfFile {
  font-size: 16px;
  font-weight: 100;
  color: rgb(85, 85, 85);
}

.timeOfSave {
  font-size: 12px;
  color: gray;
}

.sideNote:hover {
  background-color: #d4d4d4;
}

::-webkit-scrollbar { 
  display: none; 
}

.fillerTxt {
  text-align: center;
  padding-top: 23%;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%; 
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(37, 37, 37, 0.5);  
}  

.popup_inner {  
  border: 2px solid #b8b8b8;
  position: absolute;  
  width: 350px;
  height: 400px;  
  left: 40vw;
  top: 20vh;  
  border-radius: 20px;  
  background: white;  
}

.hideForm {
  position: absolute;
  right: 10px;
  top: 20px;
}

.hideForm img {
  width: 30px;
}

.popup_inner form {
  position: absolute;
  top: 60px;
  left: 50px;
}

.logInFields {
  width: 230px;
  margin-top: 40px;
  height: 20px;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid #b8b8b8;
  font-size: 16px;
}

.logInFields:focus{
  outline: none !important;
  border-bottom: 1px solid #c9c9c9;
}

button[type='submit']{
  position: absolute;
  top: 210px;
  left: 65px;
  font-size: 16px;
  border: 1px solid black;
  padding: 12px 20px 12px 20px;
  border-radius: 20px;
}
  
button[type='submit']:hover {
  background-color: rgb(212, 212, 212);
  transform: scale(1.05)
}

.signUpTxt {
  position: absolute;
  top: 280px;
  left: 10px;
}

.signUpTxt button:hover {
  color: rgb(100, 100, 218);
  border-bottom: 1px solid rgb(100, 100, 218);
}